<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitedu.bipa.simplesignalarm.mapper.AlarmMapper">

    <!--알림삽입-->
    <insert id="insertAlarm" parameterType="AlarmReqDTO">
        insert into alarm_history
        (alarm_date, confirmation_status, alarm_code, org_user_id, approval_doc_id, position_name, grade_name, alarm_content)
        values(#{alarmDate}, 0, #{alarmCode}, #{orgUserId},  #{approvalDocId}, #{positionName}, #{gradeName},#{alarmContent});
    </insert>

    <select id="selectDefaultMessage" parameterType="String">
        select message from alarm where alarm_code = #{alarmCode}
    </select>

    <!-- 전체 알림을 들고오는 부분 -->
    <select id="alarmSelect" parameterType="int" resultType="AlarmDTO">
        select h.alarm_id, h.alarm_date, h.confirmation_status, h.alarm_code, h.approval_doc_id, h.alarm_content,
        d.approval_doc_title, h.org_user_id
        from alarm_history h
        join approval_doc d on h.approval_doc_id = d.approval_doc_id
        where h.org_user_id = #{orgUserId}
        order by h.alarm_date desc;
    </select>

    <!-- 문서명 들고 오기 -->
    <select id="selectApprovalDocTitle" resultType="UserApprovalDTO">
        select d.approval_doc_title, h.alarm_id from alarm_history h
        join approval_doc d on h.approval_doc_id = d.approval_doc_id
        where h.alarm_date = #{alarmDate} and h.org_user_id = #{orgUserId}
        and h.alarm_code = #{alarmCode} and h.approval_doc_id = #{approvalDocId};
    </select>

    <!-- 결재자 들고오기 -->
    <select id="selectApprovalUserName" parameterType="int" resultType="UserApprovalDTO">
        select u.user_name, d.approval_count from alarm_history h
        join approval_doc d on d.approval_doc_id = h.approval_doc_id
        join approval a on d.approval_doc_id = a.approval_doc_id
        join organization_user o on o.org_user_id = a.org_user_id
        join user u on o.user_id = u.user_id
        where a.approval_order = 1 and h.alarm_id = #{alarmId};
    </select>

    <!-- 안 읽은 알림 갯수 구하기 -->
    <select id="AlarmCount" parameterType="int" resultType="int">
        select count(*) from alarm_history where confirmation_status = 0 and org_user_id = #{orgUserId};
    </select>

    <!-- 알림 읽음으로 처리 -->
    <update id="updateConfirmationStatus" parameterType="int">
        update alarm_history set confirmation_status = 1 where alarm_id = #{alarmId};
    </update>

</mapper>